<div class="mu_nav_info">
    <div class="mu_nav_info_avatar">
        <div class="mu_nav_info_avatar_mk"></div>
        <img src="{$Think.session.userimg}" width="100" height="100" />
    </div>
    <p class="mu_nav_info_uname">{$Think.session.username}</p>
</div>
<div class="mu_nav">
    <a href="/web/userpic/userpic"><div class="mu_title">头像管理</div> </a>
</div>
<div class="mu_nav">
    <a href="/web/address/address"><div class="mu_title">地址管理</div> </a>
</div>

<div class="mu_nav">
    <a href="/web/user/orderlist"><div class="mu_title">订单列表</div> </a>
</div>
<div class="mu_nav">
    <a href="/web/user/waitepay"><div class="mu_title">待付款</div> </a>
</div>